* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  font-family: 'EB Garamond', serif;
  background-color: lightsalmon;
  background-image: url(../imag/pawel-czerwinski-9lNoGFaNI2c-unsplash.jpg); }

header h1 {
  text-align: center;
  color: #4b1818;
  font-family: 'Major Mono Display', monospace;
  font-size: 2rem;
  transition: all 2s; }
  header h1:hover {
    font-size: 2.5rem;
    color: #073632; }

header header h1 {
  color: #4b1818;
  box-sizing: border-box;
  text-align: center;
  text-decoration: solid;
  margin: 15px;
  padding-left: 15px;
  letter-spacing: 15px;
  font-family: 'Major Mono Display', monospace; }

header img {
  max-width: 600px;
  margin: auto;
  border-radius: 1rem 1rem 1rem 1rem; }
  header img:hover {
    border: #1ea093 solid 5px; }

header ul {
  list-style: none; }

header li {
  list-style: none; }

main section {
  background-size: cover;
  max-width: 1200px;
  align-items: center;
  width: 75%;
  margin: 0 15%; }
  main section .p {
    align-items: center; }
  main section h2 {
    text-align: center;
    font-size: 2rem;
    transition: all 2s;
    color: #4b1818;
    transition: 2s; }
    main section h2:hover {
      font-size: 2.5rem;
      color: #073632; }
  main section h3 {
    text-align: left;
    font-size: 2rem;
    transition: all 2s;
    text-align: center;
    transition: 2s; }
    main section h3:hover {
      font-size: 2.5rem;
      color: #073632; }
  main section .historico img {
    width: 800px;
    margin: 2rem;
    justify-content: center;
    transition: 2s; }
    main section .historico img:hover {
      border: 3px solid lightsalmon; }
  main section .actual img {
    width: 300px;
    margin: 2rem;
    justify-content: center;
    transition: 2s; }
    main section .actual img:hover {
      border: 3px solid lightsalmon; }
  main section .hist {
    align-items: center; }
  main section div {
    justify-content: space-between;
    align-items: center; }

main .barra-icon {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000;
  padding: 10px 15px; }
  main .barra-icon ul {
    list-style: none; }
    main .barra-icon ul li .icon-facebook {
      background: #2e406e;
      border-radius: 0 1rem 0 0; }
    main .barra-icon ul li .icon-twitter {
      background: #339dc5; }
    main .barra-icon ul li .icon-instagram {
      background: #3f68a5; }
    main .barra-icon ul li .icon-whatsapp {
      background: #10aa1d;
      border-radius: 0 0 1rem 0; }
    main .barra-icon ul li a {
      display: inline-block;
      padding: 5px 10px;
      color: white;
      text-decoration: none;
      transition: all 500ms ease; }
      main .barra-icon ul li a:hover {
        padding: 10px 30px; }

main .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

main .product {
  margin: 1rem;
  padding: 1rem;
  float: left;
  margin: 0 5rem;
  line-height: 1.5rem;
  text-transform: uppercase; }
  main .product img {
    width: 500px;
    margin: 2rem;
    justify-content: center;
    transition: 2s; }
    main .product img:hover {
      border: 3px solid lightsalmon; }
  main .product:hover {
    color: #1ea093;
    height: 50%;
    font-weight: bold; }

main .formulario {
  text-align: center;
  align-items: center;
  padding-bottom: 15px; }

main .formulario1 {
  text-align: center;
  align-items: center;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: none; }

main .atencion {
  text-align: center;
  align-items: center;
  width: 50%; }

main .local {
  display: flex; }
  main .local img {
    width: 500px;
    margin: 2rem;
    align-content: center;
    justify-content: center;
    transition: 2s; }
    main .local img:hover {
      border: 3px solid lightsalmon; }

main .locales, main .stilomicuenta, main .cuenta {
  padding: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase; }

main .login {
  display: flex; }
  main .login img {
    width: 500px;
    margin: 2rem;
    align-content: center;
    justify-content: center; }
    main .login img:hover {
      border: 3px solid lightsalmon; }

main .stilomicuenta {
  text-align: justify;
  display: flex; }

main .cuentas {
  display: flex; }
  main .cuentas img {
    width: 500px;
    margin: 2rem;
    justify-content: center; }
    main .cuentas img:hover {
      border: 3px solid lightsalmon; }

main .productos {
  display: flex; }
  main .productos img {
    width: 500px;
    object-fit: cover;
    margin: 2rem;
    justify-content: center; }

main .actual {
  display: flex;
  line-height: 30px;
  font-size: 20px;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap; }

main .fotosp {
  display: flex;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  main .fotosp img {
    width: 100px;
    object-fit: cover;
    margin: 1rem;
    border: 2px solid #1ea093;
    transition: all 2s; }
    main .fotosp img:hover {
      border: 3px solid lightsalmon;
      width: 130px; }

main .dest {
  width: 80%;
  max-width: 700px;
  margin: auto;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "pic1 pic2 pic3" "pic4 pic2 pic5" "pic4 pic6 pic6" "pic7 pic7 pic8" "pic9 pic9 pic10";
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px; }
  main .dest img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

main .gallery {
  width: 80%;
  height: 80%;
  max-width: 700px;
  margin: auto;
  display: grid;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "gal1 gal2 gal2" "gal3 gal4 gal4" "gal3 gal5 gal6";
  gap: 25px;
  margin-bottom: 20px; }
  main .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 2s; }
    main .gallery img:hover {
      height: 80%;
      border: 5px solid lightsalmon; }

main .imagen1 {
  grid-area: pic1; }

main .imagen2 {
  grid-area: pic2; }

main .imagen3 {
  grid-area: pic3; }

main .imagen4 {
  grid-area: pic4; }

main .imagen5 {
  grid-area: pic5; }

main .imagen6 {
  grid-area: pic6; }

main .imagen7 {
  grid-area: pic7; }

main .imagen8 {
  grid-area: pic8; }

main .imagen9 {
  grid-area: pic9; }

main .imagen10 {
  grid-area: pic10; }

main .gal1 {
  grid-area: gal1; }

main .gal2 {
  grid-area: gal2; }

main .gal3 {
  grid-area: gal3; }

main .gal4 {
  grid-area: gal4; }

main .gal5 {
  grid-area: gal5; }

main .gal6 {
  grid-area: gal6; }

main button {
  padding: 8px;
  border-radius: 8px;
  border: 1 px solid #1ea093;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all 2s;
  margin-top: 15px; }
  main button:hover {
    border: 2px solid #073632;
    color: white;
    background-color: #073632; }

footer h2 {
  margin: 10px;
  padding: auto;
  color: #4b1818; }
  footer h2 h5 {
    margin: 5px; }

footer button {
  padding: 8px;
  border-radius: 8px;
  border: 1 px solid #1ea093;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all 2s;
  margin-top: 15px; }
  footer button:hover {
    border: 2px solid #073632;
    color: white;
    background-color: #073632; }

footer .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

footer .item {
  margin: 1rem;
  padding: 1rem;
  float: left;
  margin: 0 5rem;
  line-height: 1.5rem;
  text-transform: inherit; }
  footer .item:hover {
    color: #1ea093;
    height: 50%;
    font-weight: bold; }

@media (max-width: 500px) {
  .item:hover {
    font-weight: normal; }
  .dest {
    grid-template-areas: "pic1 pic2"  "pic3 pic4"  "pic5 pic6" "pic7 pic8" "pic9 pic10";
    gap: 5px; }
  .gallery {
    grid-template-areas: "gal1 gal2" "gal3 gal4" "gal5 gal6";
    gap: 5px; } }

@media (max-width: 480px) {
  .item:hover {
    font-weight: normal; }
  .dest {
    grid-template-areas: "pic1"  "pic2"  "pic3"  "pic4"  "pic5" "pic6" "pic7"  "pic8" "pic9" "pic10";
    gap: 5px; }
  .gallery {
    grid-template-areas: "gal1" "gal2" "gal3"  "gal4" "gal5"  "gal6";
    gap: 5px; } }
