* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  font-family: 'EB Garamond', serif;
  background-color: #eaa78d; }

header h1 {
  text-align: center;
  color: #4b1818;
  font-family: 'Major Mono Display', monospace;
  font-size: 2rem;
  transition: all 2s; }
  header h1:hover {
    font-size: 2.5rem;
    color: #073632; }

header header h1 {
  color: #4b1818;
  box-sizing: border-box;
  text-align: center;
  text-decoration: solid;
  margin: 15px;
  padding-left: 15px;
  letter-spacing: 15px;
  font-family: 'Major Mono Display', monospace; }

header ul {
  list-style: none; }

header li {
  list-style: none; }

header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 5rem;
  padding-left: 5rem;
  text-transform: capitalize; }

main section {
  background-size: cover;
  max-width: 1200px;
  align-items: center;
  width: 75%;
  margin: 0 15%;
  margin-top: 15px; }
  main section p {
    align-items: center;
    line-height: 2rem;
    font-size: x-large;
    text-transform: inherit; }
  main section h2 {
    text-align: center;
    font-size: 2rem;
    transition: all 2s;
    color: #4b1818;
    transition: 2s; }
    main section h2:hover {
      font-size: 2.5rem;
      color: #073632; }
  main section h3 {
    text-align: left;
    font-size: 2rem;
    transition: all 2s;
    text-align: center;
    transition: 2s;
    color: #4b1818; }
    main section h3:hover {
      font-size: 2.5rem;
      color: #073632; }
  main section .historico img {
    width: 800px;
    margin: 1rem;
    justify-content: center;
    transition: 2s;
    border-radius: 1rem 1rem 1rem 1rem; }
    main section .historico img:hover {
      border: 3px solid #eaa78d; }
  main section .actual img {
    width: 300px;
    margin: 1rem;
    justify-content: center;
    transition: 2s;
    border-radius: 1rem 1rem 1rem 1rem; }
    main section .actual img:hover {
      border: 3px solid #eaa78d; }
  main section .hist {
    align-items: center; }
  main section div {
    justify-content: space-between; }

main .barra-icon {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000;
  padding: 10px 15px; }
  main .barra-icon ul {
    list-style: none;
    padding-left: 0%; }
    main .barra-icon ul li .icon-facebook {
      background: #2e406e;
      border-radius: 0 1rem 0 0; }
    main .barra-icon ul li .icon-twitter {
      background: #339dc5; }
    main .barra-icon ul li .icon-instagram {
      background: #3f68a5; }
    main .barra-icon ul li .icon-whatsapp {
      background: #10aa1d;
      border-radius: 0 0 1rem 0; }
    main .barra-icon ul li a {
      display: inline-block;
      padding: 5px 10px;
      color: white;
      text-decoration: none;
      transition: all 500ms ease; }
      main .barra-icon ul li a:hover {
        padding: 10px 30px; }

main .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

main .product {
  margin: 1rem;
  padding: 1rem;
  float: left;
  margin: 0 5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-radius: 1rem 1rem 1rem 1rem; }
  main .product img {
    width: 500px;
    margin: 2rem;
    justify-content: center;
    transition: 2s;
    border-radius: 1rem 1rem 1rem 1rem; }
    main .product img:hover {
      border: 3px solid #1ea093; }
  main .product:hover {
    color: #1ea093;
    height: 50%;
    font-weight: bold; }

main .formulario {
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 15px; }

main .formulario1 {
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px; }

main .atencion {
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  width: 50%;
  padding-left: 15px; }

main .local {
  display: flex; }
  main .local img {
    width: 500px;
    margin: 2rem;
    align-content: center;
    justify-content: center;
    text-transform: capitalize;
    transition: 2s; }
    main .local img:hover {
      border: 3px solid #1ea093; }

main .locales, main .stilomicuenta, main .cuenta {
  padding: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase; }

main .login {
  display: flex; }
  main .login img {
    width: 500px;
    margin: 2rem;
    align-content: center;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 1rem 1rem 1rem 1rem; }
    main .login img:hover {
      border: 3px solid #1ea093; }

main .stilomicuenta {
  text-align: justify;
  display: flex; }

main .cuentas {
  display: flex; }
  main .cuentas img {
    width: 500px;
    margin: 2rem;
    justify-content: center;
    border-radius: 1rem 1rem 1rem 1rem; }
    main .cuentas img:hover {
      border: 3px solid #1ea093; }

main .productos {
  display: flex; }
  main .productos img {
    width: 500px;
    object-fit: cover;
    margin: 2rem;
    justify-content: center; }

main .actual {
  display: flex;
  line-height: 30px;
  font-size: 20px;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap; }

main .fotosp {
  display: flex;
  line-height: 30px;
  font-size: 20px;
  align-items: center;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  main .fotosp img {
    width: 100px;
    object-fit: cover;
    margin: 1rem;
    border: 2px solid #1ea093;
    transition: all 2s;
    border-radius: 1rem 1rem 1rem 1rem; }
    main .fotosp img:hover {
      border: 3px solid #1ea093;
      width: 130px; }

main .dest {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "pic1 pic2 pic3" "pic4 pic2 pic5" "pic4 pic6 pic6" "pic7 pic7 pic8" "pic9 pic9 pic10";
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px; }
  main .dest img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 1rem 1rem 1rem 1rem; }

main .gallery {
  width: 80%;
  height: 80%;
  max-width: 700px;
  margin: auto;
  display: grid;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "gal1 gal2 gal2" "gal3 gal4 gal4" "gal3 gal5 gal6";
  gap: 25px;
  margin-bottom: 30px; }
  main .gallery img {
    width: 100%;
    height: 87%;
    object-fit: cover;
    transition: all 2s;
    border-radius: 1rem 1rem 1rem 1rem; }
    main .gallery img:hover {
      height: 80%;
      border: 5px solid #1ea093; }

main .imagen1 {
  grid-area: pic1; }

main .imagen2 {
  grid-area: pic2; }

main .imagen3 {
  grid-area: pic3; }

main .imagen4 {
  grid-area: pic4; }

main .imagen5 {
  grid-area: pic5; }

main .imagen6 {
  grid-area: pic6; }

main .imagen7 {
  grid-area: pic7; }

main .imagen8 {
  grid-area: pic8; }

main .imagen9 {
  grid-area: pic9; }

main .imagen10 {
  grid-area: pic10; }

main .gal1 {
  grid-area: gal1; }

main .gal2 {
  grid-area: gal2; }

main .gal3 {
  grid-area: gal3; }

main .gal4 {
  grid-area: gal4; }

main .gal5 {
  grid-area: gal5; }

main .gal6 {
  grid-area: gal6; }

main button {
  padding: 8px;
  border-radius: 8px;
  border: 1 px solid #1ea093;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all 2s;
  margin-top: 15px;
  text-transform: capitalize; }
  main button:hover {
    border: 2px solid #073632;
    color: white;
    background-color: #073632; }

footer h2 {
  margin: 10px;
  padding: auto;
  color: #4b1818; }
  footer h2 h5 {
    margin: 5px; }

footer button {
  padding: 8px;
  border-radius: 8px;
  border: 1 px solid #1ea093;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all 2s;
  margin-top: 15px;
  text-transform: capitalize; }
  footer button:hover {
    border: 2px solid #073632;
    color: white;
    background-color: #073632; }

footer .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f35b53; }

footer .item {
  padding: 1rem;
  float: left;
  margin: 0 5rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  transition: all 2s; }
  footer .item .lista {
    cursor: pointer; }
    footer .item .lista:hover {
      color: #1ea093;
      height: 50%;
      font-weight: bold; }

@media screen and (max-width: 768px) {
  .historico {
    width: 50%; }
  .actual {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .item:hover {
    font-weight: normal; } }

@media screen and (max-width: 480px) {
  .historico {
    width: 50%; }
  .actual {
    flex-direction: column; }
  .stilomicuenta {
    flex-direction: column; }
  .item:hover {
    font-weight: normal; } }
