header{
    h1{
        text-align: center;
        color: $bordo;
        font-family: 'Major Mono Display', monospace;
        font-size: 2rem;
        transition: all 2s;
        &:hover{
            font-size: 2.5rem;
            color: $petroleo;
        }
    }
    header h1{
        color: $bordo;
        box-sizing: border-box;
        text-align: center;
        text-decoration: solid;
        margin: 15px;
        padding-left: 15px;
        letter-spacing: 15px;
        font-family: 'Major Mono Display', monospace;
    }
    ul{
        list-style: none;
    }
    li{
        list-style: none;
    }
}
