@media screen and (max-width: 768px){  
    .historico{
        width: 50%;
    }
    .actual{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item {
        &:hover{
            font-weight: normal;
        }    
    }
}
@media screen and (max-width: 480px){   
    .historico{
        width: 50%;
    }
    .actual{
        flex-direction: column;
    }
    .stilomicuenta {
        flex-direction: column;
    } 
    .item   {
        &:hover{
        font-weight: normal;
        }  
    }   
}