@media (max-width: 500px){       
    .item   {
        &:hover{
            font-weight: normal;
        }    
    } 
    .dest{
         grid-template-areas: 
        "pic1 pic2" 
        "pic3 pic4" 
        "pic5 pic6"
        "pic7 pic8"
        "pic9 pic10"
        ;
        gap: 5px;
    }
    .gallery{
        grid-template-areas: 
        "gal1 gal2"
        "gal3 gal4"
        "gal5 gal6"
        ;
        gap: 5px;
    }
}
@media (max-width: 480px){     
    .item   {
        &:hover{
        font-weight: normal;
        }  
    }   
    .dest{
         grid-template-areas: 
        "pic1" 
        "pic2" 
        "pic3" 
        "pic4" 
        "pic5"
        "pic6"
        "pic7" 
        "pic8"
        "pic9"
        "pic10"
        ;
        gap: 5px;
    }
    .gallery{
        grid-template-areas: 
        "gal1"
        "gal2"
        "gal3" 
        "gal4"
        "gal5" 
        "gal6"
        ;
        gap: 5px;
    }
}