
$negro: black;
$blanco: white;
$coral: #f4a282;
$bordo:rgb(75, 24, 24);
$turquesa: rgb(30, 160, 147);
$petroleo: rgb(7, 54, 50);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond', serif;
    background-color: $coral;
}
@import "header";
@import "main";
@import "footer";
@import "media";
